# Releases a python-wrapper wheel: for an ecbuild-based compiled library,
# runs the compilation and bundles all artifacts (libs, includes, ...) into
# a binary wheel (manylinux/macos) along with findlibs-compatible instructions
# about dependencies
# Assumes that the project has the `python_wrapper` directory which configures
# this action

on:
  workflow_call:
    inputs:
      use_test_pypi:
        description: Use test pypi instead of the regular one
        required: false
        type: boolean
        default: false # TODO actually use this

jobs:
  linux-wheel:
    name: Build manylinux_2_28
    strategy:
      fail-fast: false # NOTE primary reason for fail fast is the failure in the clean up step. Once fixed, consider true
      matrix:  
        # TODO convert this to be matrix-friendly. Note it's a bit tricky since
        # we'd ideally not reexecute the compile step multiple times, but it
        # (non-essentially) depends on a matrix-based step. Add more pythons, possibly
        # more manylinuxes
        python_version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    runs-on: [self-hosted, Linux, platform-builder-Rocky-8.6]
    container:
      image: eccr.ecmwf.int/wheelmaker/2_28:latest
      options: --user github-actions
      credentials:
        username: ${{ secrets.ECMWF_DOCKER_REGISTRY_USERNAME }}
        password: ${{ secrets.ECMWF_DOCKER_REGISTRY_ACCESS_TOKEN }}
    steps:
        # NOTE we dont use action checkout because it doesnt cleanup after itself correctly
      - run: git clone --depth=1 --branch="${GITHUB_REF#refs/heads/}" https://github.com/$GITHUB_REPOSITORY /src/proj
      - run: cd /src/proj && /buildscripts/prepare_deps.sh ./python_wrapper/buildconfig "${{ matrix.python_version }}"
      - run: cd /src/proj && if [[ -f ./python_wrapper/pre-compile.sh ]] ; then ./python_wrapper/pre-compile.sh ; fi
      - run: cd /src/proj && /buildscripts/compile.sh ./python_wrapper/buildconfig
      - run: cd /src/proj && GITHUB_BRANCH="${GITHUB_REF}" PYTHONPATH=/buildscripts /buildscripts/wheel-linux.sh ./python_wrapper/buildconfig "${{ matrix.python_version }}"
      - run: cd /src/proj && if [[ -f ./python_wrapper/post-build.sh ]] ; then ./python_wrapper/post-build.sh ; fi
      - run: cd /src/proj && /buildscripts/test-wheel.sh ./python_wrapper/buildconfig "${{ matrix.python_version }}"
      - run: cd /src/proj && PYTHONPATH=/buildscripts /buildscripts/upload-pypi.sh ./python_wrapper/buildconfig
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
  macos-wheel:
    name: Build macos wheel
    strategy:
      fail-fast: false # NOTE primary reason for fail fast is the failure in the clean up step. Once fixed, consider true
      matrix:
        arch_type: [ARM64, X64]
        python_version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    runs-on: [self-hosted, macOS, "${{ matrix.arch_type }}"]
    steps:
      # TODO convert this to be matrix-friendly for python versions. Note it's a bit tricky since
      # we'd ideally not reexecute the compile step multiple times, but it
      # (non-essentially) depends on a matrix-based step
      # NOTE we dont use action checkout because it doesnt cleanup after itself correctly
      - run: |
          if [ -z "$(which uv)" ] ; then curl -LsSf https://astral.sh/uv/install.sh | sh ; fi
          rm -rf ecbuild wheelmaker
          git clone --depth=1 https://github.com/ecmwf/ecbuild ecbuild
          # git clone --depth=1 --branch="wheelmaker" https://github.com/ecmwf/ci-utils wheelmaker # TODO use token here to get rid of the checkout action below
      - uses: actions/checkout@v4
        with:
          repository: ecmwf/ci-utils
          ref: develop
          path: ci-utils
          token: ${{ secrets.GH_REPO_READ_TOKEN }}
      - run: rm -rf proj && git clone --depth=1 --branch="${GITHUB_REF#refs/heads/}" https://github.com/$GITHUB_REPOSITORY proj
      - run: |
          uv python install python"${{ matrix.python_version }}"
          cd proj && $GITHUB_WORKSPACE/ci-utils/wheelmaker/buildscripts/prepare_deps.sh ./python_wrapper/buildconfig "${{ matrix.python_version }}"
      - run: |
          cd proj
          if [[ -f ./python_wrapper/pre-compile.sh ]] ; then ./python_wrapper/pre-compile.sh ; fi
          PATH="$GITHUB_WORKSPACE/ecbuild/bin/:$PATH" $GITHUB_WORKSPACE/ci-utils/wheelmaker/buildscripts/compile.sh ./python_wrapper/buildconfig
          if [[ -f ./python_wrapper/post-compile.sh ]] ; then ./python_wrapper/post-compile.sh ; fi
      - run: |
          cd proj
          rm -rf /tmp/buildvenv && uv venv --python python"${{ matrix.python_version }}" /tmp/buildvenv && source /tmp/buildvenv/bin/activate && uv pip install build twine==6.0.1 delocate setuptools requests # NOTE twine version forced due to metadata issue, cf wheelmaker Dockerfile
          GITHUB_BRANCH="${GITHUB_REF}" PYTHONPATH=$GITHUB_WORKSPACE/ci-utils/wheelmaker/buildscripts $GITHUB_WORKSPACE/ci-utils/wheelmaker/buildscripts/wheel-linux.sh ./python_wrapper/buildconfig "${{ matrix.python_version }}"
          if [[ -f ./python_wrapper/post-build.sh ]] ; then ./python_wrapper/post-build.sh ; fi
          $GITHUB_WORKSPACE/ci-utils/wheelmaker/buildscripts/test-wheel.sh ./python_wrapper/buildconfig "${{ matrix.python_version }}"
          PYTHONPATH=$GITHUB_WORKSPACE/ci-utils/wheelmaker/buildscripts $GITHUB_WORKSPACE/ci-utils/wheelmaker/buildscripts/upload-pypi.sh ./python_wrapper/buildconfig
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
